
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<div class="jumbotron">
    <h1>Curate My Community</h1>
    <p class="lead">Please contact us for additional information regarding this project.</p>
    <p>Blake Stewart - <a href="mailto:stewabj@mail.uc.edu">stewabj@mail.uc.edu</a><br /> Evan Handler - <a href="mailto:handleep@mail.uc.edu">handleep@mail.uc.edu</a><br /> Regan Cole - <a href="mailto:colerm@mail.uc.edu">colerm@mail.uc.edu</a></p>
</div>