<div>
    <img src="http://www.cincymuseum.org/sites/default/files/2016-Web_CurateMyCommunity_Main700x200_090716_ss.jpg" alt="Curate My Community" align="middle"/>
    <p>Curate My Community is a non-profit organization within the Cincinnati Museum Center. There are six exhibits within the Cincinnati community that share the rich and incredible history. The iOS frontend and .NET backend for Curate My Community give users the ability to access data and locations of these exhibits to spread and learn about their communities.</p>
    <p><a href="http://www.cincymuseum.org/curate-my-community" class="btn btn-lg">Learn more</a></p>
    <p></p>
</div>
